:root {
    --Plano_Fundo: #dac5b285;
    --Plano_Fundo_Footer: #2f3b17;
    --Plano_Fundo_Article: #ededed;
    --Link_Hover: rgb(61, 43, 30);
    --Link_Visited: chocolate;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--Plano_Fundo);
    width: 1020px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
}

.photo {
    border-radius: 50%;
    align-items: center;
}

article {
    background-color: var(--Plano_Fundo_Article);
    padding: 15px;
    text-align: justify;
    margin: 15px;
}

.conteudo h2 {
    text-align: center;
    padding-bottom: 5px;
}

.conteudo {
    margin: 10px;
}

.saber_mais{
    text-align: end;
    margin-top: 35px;
    font-size: small;
}

a {
    text-decoration: none;
}
.saber_mais a:visited {
    color: var(--Link_Visited);
}

.saber_mais a:hover {
    color: var(--Link_Hover);
}

footer{
    background-color: var(--Plano_Fundo_Footer);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: white;
}

