@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200&family=Poppins&display=swap');

:root{
    --Fonte_Titulo_Instagram: "Lobster", cursive;
    --Fonte_Texto: "Nunito", sans-serif;
    --Fonte_Guias: "Poppins", sans-serif;
    --Fundo_Botao: rgb(0, 149, 246);
    --Borda_botao: rgba(114, 114, 114, 0.405);
    --Link: rgb(0,55,130); 
    --Seguido_Por_Cor: rgb(142,150,163);
    --Seguidores_Cor: rgb(58,48,38);
    --Plano_Fundo: #fafafa;
    --Divisor:  #dcdcdc;
    --Funcao_Pesquisa: rgb(239,239,239);
}

* {
    margin: 0;
    padding: 0;
}

main, .navegacao_principal{
    margin: 0 auto;
    width: 940px;
}

body{
    background-color: var(--Plano_Fundo);
}

.fonte_titulo_instagram, .fonte_titulo_instagram:hover, .fonte_titulo_instagram:visited {
    font-family: var(--Fonte_Titulo_Instagram);
    font-size: 25px;
    color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    border-bottom: 1px solid var(--Divisor);
    background-color: white;
    padding: 10px;

}

/* Nav */
.container_nav {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-between;
    /* margin:30px 0px; */
}

/* Icon */
.container_nav_icon {
    display: flex;
    /* border: 1px solid blue; */
}

.item_nav_icon{
    /* border: 1px solid orange; */
    text-align: center;
    margin: 5px;
    padding: 0 7px;
}

.imagens_nav_icon {
    width: 24px;
}

/* Titulo */
.container_nav_titulo {
    display: flex;
    /* border: 2px solid firebrick; */
    flex-grow: 2;
    
}

.item_nav_titulo {
    /* border: 2px solid black; */
    padding: 0 10px;
}

/* Pesquisa */
.container_nav_pesquisa {
    display: flex;
    /* border: 2px solid brown; */
    flex-grow: 1;
    justify-content: center;
}

.item_nav_pesquisa {
    border: 1px solid var(--Divisor);
    background-color: var(--Funcao_Pesquisa);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0 15px;
}


.item_nav_pesquisa_botao{
    padding: 5px
}

.butao_pesquisar{
    display: flex;
    background-color: var(--Funcao_Pesquisa);
    border: 1px solid var(--Divisor);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 0px;
}

.img_pesquisar{
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0px 5px;
    background-color: white;
    cursor: pointer;
    background-color: var(--Funcao_Pesquisa);

}

/*Bio*/
.perfil {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 50px;
    height: 250px;
}

/*Foto de Perfil*/
/* .container_perfil{
    border-right: 1px solid aqua;
} */

.img_perfil{
    border-radius: 50%;
    margin: 20px 30px;
    width: 200px;
}

/*Descricao Geral*/
.descricao_geral{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: var(--Fonte_Texto);
    /* border: 2px solid orange; */
    align-items: flex-start;
    justify-content: space-around;
}

/*Container Descricao*/
.container_descricao {
    display: flex;
    margin-top: 15px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.descricao_titulo_usuario {    
    text-transform: lowercase;
    font-size: 30px;
    margin: 10px;
    margin-right: 45px;
}

.descricao_mensagem, .descricao_seguir, .descricao_op{
    border: 1px solid var(--Borda_botao);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--Fundo_Botao);
    color: white;
    margin: 12px 0px 12px 8px;
    /* border: 1px solid red; */
}

.descricao_mensagem {
    background-color: white;
    margin: 12px 0px 12px 6px;
    padding: 8px;
    color: var(--Seguidores_Cor)
}

.descricao_seguir{
    padding: 0px 20px 0px 20px;
}

.descricao_opcoes, .descricao_configuracao {
    display: flex;
}

.img_descricao{
    width: 20px;
    align-self: center;
    padding: 0 10px;
}

.descricao_op {
    display: flex;
    padding: 0px 15px 0px 15px;
}

.img_descricao_seguidores{
    width: 15px; 
    align-self: center;
}

/*Numeros*/
.numeros_container{
    display: flex;
    /* border: 2px solid black; */
    padding: 15px 0px 20px 0px;
}

.explicacao_numeros {
    /* border: 2px solid orange; */
    margin: 0px 0px 0px 10px;
    display: flex;
}

.dados{
    /* border: 2px solid orange; */
    text-align: center;
    font-weight: bolder;
    margin: 0px 7px 0px 0px;
}

.num_publicacoes, .num_seguidores, .num_seguindo{
    padding-right: 70px;
}

/*Bio*/
.bio_container{
    display: flex;
    flex-direction: column;
    /* border: 2px dashed black; */
    flex-wrap: wrap;
    font-weight: bolder;
    margin-left: 10px;
    padding-bottom: 10px;
}

.nome_usuario{
    margin-bottom: 8px;
}

.link, a:hover, a:visited {
    color: var(--Link);
}

.descricao_usuario {
    margin-bottom: 4px;
    font-weight: 500;
}

.seguidores_conhecidos{
    /* border: 1px solid yellow; */
    display: flex;
    color: var(--Seguido_Por_Cor);
    margin-top: 15px;
    font-size: 10px;
}

.seguidores{
    /* border: 1px solid gray; */
    color: var(--Seguidores_Cor);
    margin-left: 5px;
    font-size: 10px;
}

/*Guias*/
.guia_container{
    /* border: 1px solid red; */
    border-top: 1px solid var(--Divisor);
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
    font-family: var(--Fonte_Guias);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: var(--Seguidores_Cor);
    padding: 20px 0px;
}

.img_guias{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-self: center;
}

.publicacoes, .marcados, .publicacoes:hover, .marcados:hover, .publicacoes:visited, .marcados:visited{
    display: flex;
    color: var(--Seguidores_Cor);
    /* border: 1px solid gold; */
}

.guia_texto{
    align-self: center;
}

/*Fotos*/
.fotos_container{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-content: center; */
}

.img_feed {
    margin: 15px;
    align-self: flex-start;
}

footer{
    /* border: 1px solid red; */
    border-top: 1px solid var(--Divisor);
    padding: 30px 0px 30px 0px;
    margin-top: 30px;
    text-align: center;
    font-family: var(--Fonte_Guias);
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}