@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200&family=Poppins&display=swap');

:root{
    --Fonte_Titulo_Instagram: "Lobster", cursive;
    --Fonte_Texto: "Nunito", sans-serif;
    --Fonte_Guias: "Poppins", sans-serif;
    --Fundo_Botao: rgb(0, 149, 246);
    --Borda_botao: rgba(114, 114, 114, 0.405);
    --Link: rgb(0,55,130); 
    --Seguido_Por_Cor: rgb(142,150,163);
    --Seguidores_Cor: rgb(58,48,38);
    --Plano_Fundo: #fafafa;
    --Divisor:  #dcdcdc;
    --Funcao_Pesquisa: rgb(239,239,239);
    --Facebook: rgb(56,81,133);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Plano_Fundo);   
    font-family: var(--Fonte_Texto); 
}

a {
    text-decoration: none;
}

.container {
    padding:  0px 30px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 650px;
}

/*Imagens*/
.fotos{
    margin: 15px;
}

/*Logins: Geral*/
.login {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*Login Tradicional*/
.login_tradicional{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-items: center;

}

h1 {
    font-family: var(--Fonte_Titulo_Instagram);
    font-size: 40px;
    font-weight: lighter;
    color: black;
    text-align: center;
    padding: 15px 0 25px 0px;
}

.dados_pessoais{
    border: 1px solid var(--Divisor);
    border-bottom: none;
    width: 350px;
    padding: 15px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.dados_pessoais input {
    padding: 12px;
    margin: 5px;
    border: 1.5px solid var(--Divisor);
    border-radius: 5px;
    font-family: var(--Fonte_Texto);
    font-size: medium;
    font-weight: bold;
    background-color: var(--Funcao_Pesquisa);
    font-size: 15px;
}

.botao_logar{
    background-color: var(--Fundo_Botao);
    margin: 5px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.opcao_ou{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
    border: 1px solid var(--Divisor);
    border-bottom: none;
    border-top: none;    
}


/*Login Facebook*/
.login_facebook{
    border: 1px solid fuchsia;
    display: flex;
    flex-direction: column;
    color: var(--Facebook);
    background-color: white;
    border: 1px solid var(--Divisor);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bolder; 
    font-size: 12px;
}

.entrar_facebook{
    text-align: center;
    margin-top: 15px;      
    display: flex; 
    justify-content: center;
}

.entrar_facebook a:hover, .entrar_facebook a:visited {
    color: var(--Facebook);
}

.img_facebook{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.perdeu_senha{
    text-align: center;
    margin: 20px 0px 10px 0px;
}

/*Cadastrar*/
.criar_conta{
    margin: 0px 15px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 15px 0px;
    background-color: white;
    border: 1px solid var(--Divisor);
    border-radius: 5px;
    
}

.cadastrar{
    font-weight: bold;
    color: var(--Fundo_Botao);
    margin-left: 6px;
}

/*Obter aplicativo*/
.obter_aplicativo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.obter_aplicativo p {
    margin: 10px 0px;
}

.img{
    height: 30px;
}

footer{
    border-top: 1px solid var(--Divisor);
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
    font-family: var(--Fonte_Guias);
    font-weight: lighter;
    font-size: 15px;
    background-color: white;
}